:root {
    --my-green-color: #5a7552;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Winky Sans', sans-serif;
    background-color: #252629;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.global-actions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.button {
    background-color: #5f6368;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.button:hover {
    background-color: #7a7e83;
}

#sections-container {
    width: 100%;
    margin-top: 20px;
}

#sections-tabs {
    display: flex;
    overflow-x: auto;
    background-color: #252629;
    border-radius: 5px 5px 0 0;
    /* padding: 10px 10px 0 10px; */
}

.section-tab {
    padding: 10px 20px;
    background-color: #28292c;
    color: #e0e0e0;
    border: none;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.section-tab.active {
    background-color: #202124;
    color: #ffffff;
}

.section-tab .close-tab {
    margin-left: 8px;
    font-size: 12px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.section-tab .close-tab:hover {
    opacity: 1;
}

.section-tab .rename-tab {
    margin-left: 8px;
    font-size: 12px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.section-tab .rename-tab:hover {
    opacity: 1;
}

#sections-content {
    background-color: #202124;
    border-radius: 0 0 5px 5px;
    padding: 2px;
}

.section-content {
    display: none;
    position: relative;
    min-height: 100%;
}

.section-content.active {
    display: block;
}

.note {
    position: absolute;
    min-width: 250px;
    min-height: 150px;
    background-color: #202124;
    border: 1px solid #202124;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.note:focus-within {
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.drag {
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-bottom: 1px solid #313131;
    padding: 2px;
}

.note-title {
    font-weight: bold;
    color: #e0e0e0;
    word-wrap: break-word;
    flex-grow: 1;
    padding: 5px;
}

.note-content {
    flex-grow: 1;
    margin-bottom: 10px;
    color: #e0e0e0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    padding: 5px;
}

.note-title:focus,
.note-content:focus {
    outline: none;
}

.note-content[contenteditable="true"]:focus {
    outline: none;
}


.note-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202124;
    padding: 3px 10px;
    padding-top: 5px;
    max-height: 18px;
}

.note-toolbar {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
}

.note-toolbar button {
    background-color: #5f6368;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 8px;
    height: 15px;
    width: 15px;
    padding: 0;
    text-align: center;
}

.note-toolbar .color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    padding: 0;
    border: none;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}

.note-toolbar .color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 3px;
}

.note-toolbar .color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
}

.note-toolbar .color-picker::-moz-color-swatch {
    border: none;
    border-radius: 3px;
}

.note-toolbar:hover .color-picker:hover {
    filter: brightness(100%);
}

.note-content [contenteditable="true"] {
    outline: none;
    min-height: 100px;
}

.note-content:focus {
    outline: 2px solid #4a4a4a;
}

.resize-handle {
    width: 15px;
    height: 15px;
    background-color: #5f6368;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    opacity: 0.5;
    border-radius: 0 0 5px 0;
}

/* Estilo personalizado do scrollbar */
.note-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.note-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.note-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.note-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal-content {
    background-color: #252629;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #474747;
    border: 1px solid #5f6368;
    color: #ffffff;
    border-radius: 3px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.note-header .delete-btn {
    background-color: transparent;
    color: #e0e0e0;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.note-header .delete-btn:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
}

.save-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--my-green-color);
    color: rgb(204, 203, 203);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 1.5s ease-out;
}

.save-message.fade-out {
    opacity: 0;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 1.5s ease-out;
}

.success-message {
    background-color: var(--my-green-color);
    color: rgb(204, 203, 203);
    ;
}

.error-message {
    background-color: rgba(102, 43, 49, 0.8);
    color: rgb(204, 203, 203);
    ;
}

.notification.fade-out {
    opacity: 0;
}

.color-preset-btn {
    filter: brightness(60%);
    border: 20px solid #202124;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.color-preset-btn:hover {
    filter: brightness(100%);

}

.auto-save-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 8px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 20px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
}

input:checked+.toggle-slider {
    background-color: var(--my-green-color);
    ;
}

input:checked+.toggle-slider:before {
    transform: translateX(20px);
}

.info-message {
    background-color: var(--my-green-color);
    color: white;
}

#bulleted {
    margin-left: 10px;
}

.info-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.info-btn {
    background-color: var(--my-green-color);
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.info-popup {
    display: none;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #252629;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 16px;
    white-space: normal;
    z-index: 9999;
    max-width: 500px;
    width: max-content;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-popup::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}



@media screen and (max-width: 768px) {
    .info-popup {
        max-width: 200px;
        font-size: 12px;
        padding: 5px 8px;
    }
}

@media screen and (max-width: 480px) {
    .info-popup {
        width: 80vw;
        max-width: 280px;
        left: 0;
        transform: translateX(-50%);
        font-size: 11px;
    }

    .info-wrapper:nth-last-child(-n+2) .info-popup {
        left: auto;
        right: -50%;
        transform: translateX(0);
    }

    .info-wrapper:nth-last-child(-n+2) .info-popup::before {
        left: 75%;
    }
}